.containerMultipleScheduleEvent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.containerMultipleScheduleEvent p {
  font-size: 1.13em;
  font-weight: bold;
}

.containerTitleCreateButton {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.containerTitleCreateButton > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerTitleCreateButton > input[type="button"]:hover {
  background-color: #254f87;
}

.containerMultipleScheduleEvent > p {
  color: red;
  background-color: #f7a6a6;
  text-align: center;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}

.errorContainer {
  height: 65px;
  width: 100%;
  max-width: 620px;
}

/*Inicio*/

.containerMultipleLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerEventImage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 380px;
}

.containerEventImage > img {
  width: 300px;
  border: solid 2px gray;
  border-radius: 10px;
}

.containerEventImage > input[type="file"] {
  display: none;
}

.containerEventImage > p {
  font-weight: bold;
}

.containerEventImage > label {
  position: relative;
  border: solid 1px var(--golden_fonts);
  background-color: var(--dark_blue);
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.containerEventImage > label:hover {
  background-color: var(--light_blue_color);
}

.containerEventImage > label > svg {
  font-size: 20px;
}

.containerMultipleLine > p {
  font-weight: bold;
}

.formInputs {
  width: 100%;
  max-width: 500px;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  box-shadow: 0px 1px 3px var(--dark_blue);
  border-radius: 10px;
  color: var(--golden_fonts);
}

.containerMultipleLine > textarea {
  height: 150px;
}

.formInputs:focus {
  outline-color: var(--dark_blue);
  color: var(--golden_fonts);
}

.formInputs::placeholder {
  color: var(--golden_fonts);
}

/*Fim*/

@media screen and (max-width: 1030px) {
  .formInputs {
    max-width: 800px;
  }
}

@media screen and (max-width: 640px) {
  .containerMultipleScheduleEvent {
    align-items: center;
  }

  .errorContainer {
    height: 80px;
  }

  .containerEventImage {
    height: 410px;
    width: 100%;
    align-items: center;
  }
}
