.containerCreateUniqueSchedule {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.formCreateEvent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerFormImage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 380px;
}

.containerFormImage > img {
  width: 300px;
  border: solid 2px gray;
  border-radius: 10px;
  aspect-ratio: 11 / 10;
  object-fit: cover;
}

.containerFormImage > input[type="file"] {
  display: none;
}

.containerFormImage > p {
  font-weight: bold;
  font-size: 1.13em;
}

.containerFormImage > label {
  position: relative;
  border: solid 1px var(--golden_fonts);
  background-color: var(--dark_blue);
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.containerFormImage > label:hover {
  background-color: var(--light_blue_color);
}

.containerFormImage > label > svg {
  font-size: 20px;
}

.containerEventFormUnique {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerEventFormUnique > p {
  font-weight: bold;
}

.formInputs {
  width: 100%;
  max-width: 500px;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  box-shadow: 0px 1px 3px var(--dark_blue);
  border-radius: 10px;
  color: var(--golden_fonts);
}

.containerEventFormUnique > textarea {
  height: 150px;
}

.formInputs:focus {
  outline-color: var(--dark_blue);
  color: var(--golden_fonts);
}

.formInputs::placeholder {
  color: var(--golden_fonts);
}

.formCreateEvent > input[type="submit"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.alertMessage {
  color: red;
  background-color: #e99d9d;
  padding: 10px;
  width: fit-content;
}

.formCreateEvent > input[type="submit"]:hover {
  background-color: #254f87;
}

.containerCreateUniqueSchedule > p {
  color: red;
  background-color: #f7a6a6;
  text-align: center;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}

@media screen and (max-width: 1030px) {
  .formInputs {
    max-width: 800px;
  }
}

@media screen and (max-width: 450px) {
  .containerFormImage {
    height: 410px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .containerFormImage > p {
    align-self: flex-start;
  }

  .formCreateEvent > input[type="submit"] {
    align-self: center;
  }
}
