.containerMultipleScheduleEvent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerTitleCreateButton {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.containerTitleCreateButton > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerTitleCreateButton > input[type="button"]:hover {
  background-color: #254f87;
}

.containerMultipleScheduleEvent > p {
  color: red;
  border: solid 1px red;
  background-color: #f7a6a6;
  text-align: center;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .containerMultipleScheduleEvent {
    align-items: center;
  }
}
