.containerCreateSchedule {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0px;
}

.containerCreateSchedule > h1,
.containerCreateSchedule > p {
  align-self: flex-start;
}

.containerCreateSchedule > a {
  text-decoration: underline;
}

.containerCreateSchedule > h2 {
  padding: 10px 0px 0px 0px;
  border-top: solid 1px #e9e9e9;
}

.containerChooseType {
  display: flex;
  column-gap: 10px;
  padding: 0px 0px 10px 0px;
  border-bottom: solid 1px #e9e9e9;
}

.containerChooseType > input[type="radio"] {
  display: none;
}

.containerChooseType > label {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 10px;
  border: solid 1px var(--dark_blue);
  padding: 5px;
  font-weight: bold;
  box-sizing: border-box;
  width: 200px;
  border-radius: 10px;
  align-items: center;
}

.containerChooseType > label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: solid 1px var(--golden_fonts);
  border-radius: 50%;
}

.containerChooseType > input[type="radio"]:checked + label::before {
  height: 10px;
  width: 10px;
  border: solid 5px var(--golden_fonts);
  background-color: var(--dark_blue);
}

.containerChooseType > input[type="radio"]:checked + label {
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
}

@media screen and (max-width: 450px) {
  .containerChooseType {
    flex-direction: column;
    row-gap: 10px;
  }
}
