.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.homeContainer > h1 {
  margin-top: 10px;
  text-align: center;
}

.homeContainer > h2 {
  text-align: center;
}

.homeContainer > a,
.homeContainer > a > p {
  text-decoration: none;
  margin-top: 5px;
  text-align: center;
}

.homeContainer > a > p {
  transition: background-color 0.5s ease;
  border-radius: 10px;
  padding: 5px;
}

.homeContainer > a > p:hover {
  text-decoration: underline;
}

.homeContainer img {
  width: 600px;
  opacity: 50%;
}
