.contentContainer {
  --label_top_email: 34.5%;
  --label_top_email_focused: 30.5%;

  --label_top_password: 51.5%;
  --label_top_password_focused: 47.5%;

  --label_left: 14%;
  --label_left_focused: 12%;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  display: flex;
}

.mainContainer {
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.containerLogo {
  display: flex;
  height: 100vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  min-height: 450px;
}

.containerLogo > a {
  text-decoration: underline;
  height: fit-content;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer> p{
  color: green;
  font-weight: bold;
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
}

.contentContainer > form {
  border: 1px solid var(--dark_blue);
  border-radius: 20px;
  height: 440px;
  width: 90%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  margin: 35px auto;
  position: relative;
}

.contentContainer > form > a:hover {
  text-decoration: underline;
}

.contentContainer > form > input[type="password"],
.contentContainer > form > input[type="email"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--dark_blue);
  width: 80%;
}

/*Labels- inicio*/
.labelForm {
  position: absolute;
  opacity: 60%;
  pointer-events: none;
  transition: top 0.5s ease, left 0.5s ease;
  left: var(--label_left);
  background-color: white;
}

.emailLabel {
  top: var(--label_top_email);
}

.passwordLabel {
  top: var(--label_top_password);
}

.contentContainer > form > input[type="email"]:focus + .emailLabel,
.contentContainer
  > form
  > input[type="email"]:not(:placeholder-shown)
  + .emailLabel {
  top: var(--label_top_email_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

.contentContainer > form > input[type="password"]:focus + .passwordLabel,
.contentContainer
  > form
  > input[type="password"]:not(:placeholder-shown)
  + .passwordLabel {
  top: var(--label_top_password_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

/*Labels- fim*/
.contentContainer > form > input[type="password"]:focus,
.contentContainer > form > input[type="email"]:focus {
  outline-color: var(--golden_fonts);
  color: var(--dark_blue);
}

.contentContainer > form > input[type="password"]::placeholder,
.contentContainer > form > input[type="email"]::placeholder {
  color: var(--dark_blue);
  opacity: 50%;
}

.contentContainer > form > input[type="submit"] {
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  border: none;
  color: white;
  background-color: var(--dark_blue);
  margin-top: 10px;
  align-self: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.contentContainer > form > input[type="submit"]:hover {
  background-color: var(--light_blue_color);
}

.errorMessage {
  display: block;
  height: 20px;
  color: red;
}

@media screen and (max-width: 810px) {
  .mainContainer {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 10% 90%;
  }

  .containerLogo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logoContainer {
    display: none;
  }

  .contentContainer > form {
    margin: 0px auto;
    padding: 0px;
    border: none;
  }

  .contentContainer {
  --label_top_email: 33.7%;
  --label_top_email_focused: 29.5%;
}
}
