.containerProfile {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 800px;
}

.containerAsideOptions {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  border-right: solid 1px #e9e9e9;
  box-sizing: border-box;
  padding-right: 10px;
}

.containerAsideOptions > a {
  margin-top: 10px;
  text-decoration: underline;
}

.containerAsideOptions > button {
  background-color: white;
  color: var(--golden_fonts);
  border: none;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 10px;
}

.containerAsideOptions > button:hover {
  background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 600px) {
  .containerProfile {
    display: flex;
    flex-direction: column;
  }

  .containerAsideOptions {
    margin-bottom: 10px;
    border-right: none;
    padding-right: 0;
  }

  .containerAsideOptions > button {
    border: solid 1px #e9e9e9;
    background-color: #f3f3f3;
  }
}
