.contentContainer {
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contentContainer > a {
  text-decoration: underline;
}

.contentContainer > form {
  border: 1px solid var(--dark_blue);
  border-radius: 20px;
  height: 300px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contentContainer > form > label {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.contentContainer > form > input[type="text"],
.contentContainer > form > input[type="password"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--dark_blue);
  width: 80%;
}

.contentContainer > form > input[type="text"]:focus,
.contentContainer > form > input[type="password"]:focus {
  outline-color: var(--golden_fonts);
  color: var(--dark_blue);
}

.contentContainer > form > input[type="text"]::placeholder,
.contentContainer > form > input[type="password"]::placeholder {
  color: var(--dark_blue);
  opacity: 50%;
}

.contentContainer > form > input[type="submit"] {
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  border: none;
  color: white;
  background-color: var(--dark_blue);
  margin-top: 10px;
  align-self: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.contentContainer > form > input[type="submit"]:hover {
  background-color: var(--light_blue_color);
}
