.mainContainer {
  --label_top_username: 20.5%;
  --label_top_username_focused: 17%;

  --label_top_email: 36%;
  --label_top_email_focused: 32%;

  --label_top_password: 51%;
  --label_top_password_focused: 47.5%;

  --label_top_passwordConfirm: 66%;
  --label_top_passwordConfirm_focused: 62.5%;

  --label_left: 14%;
  --label_left_focused: 12%;
}

.contentContainer {
  width: 100%;
  height: 100vh;
  padding: 10px 0px;
  display: flex;
}

.mainContainer {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
}

.containerLogo {
  display: flex;
  height: 100vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  min-height: 450px;
  margin-top: 60px;
}

.containerLogo > a {
  text-decoration: underline;
  height: fit-content;
}

.contentContainer > form {
  height: 485px;
  width: 90%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  margin: 40px auto;
  position: relative;
  border: none;
  box-shadow: 0px 1px 3px var(--dark_blue);
  border-radius: 10px;
}

.contentContainer > form > a:hover {
  text-decoration: underline;
}

.contentContainer > form > input[type="text"],
.contentContainer > form > input[type="password"],
.contentContainer > form > input[type="email"] {
  padding: 10px;
  width: 80%;
  border: none;
  box-shadow: 0px 1px 3px var(--dark_blue);
  border-radius: 10px;
}

/*Labels- inicio*/
.labelForm {
  position: absolute;
  opacity: 60%;
  pointer-events: none;
  transition: top 0.5s ease, left 0.5s ease;
  left: var(--label_left);
  background-color: white;
}

.usernameLabel {
  top: var(--label_top_username);
}

.emailLabel {
  top: var(--label_top_email);
}

.passwordLabel {
  top: var(--label_top_password);
}

.confirmPasswordLabel {
  top: var(--label_top_passwordConfirm);
}

.username:focus + .usernameLabel,
.username:not(:placeholder-shown) + .usernameLabel {
  top: var(--label_top_username_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

.email:focus + .emailLabel,
.email:not(:placeholder-shown) + .emailLabel {
  top: var(--label_top_email_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

.password:focus + .passwordLabel,
.password:not(:placeholder-shown) + .passwordLabel {
  top: var(--label_top_password_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

.confirmPassword:focus + .confirmPasswordLabel,
.confirmPassword:not(:placeholder-shown) + .confirmPasswordLabel {
  top: var(--label_top_passwordConfirm_focused);
  opacity: 100%;
  font-size: 13px;
  left: var(--label_left_focused);
  padding: 0px 5px;
}

/*Labels- fim*/

.contentContainer > form > input[type="text"]:focus,
.contentContainer > form > input[type="password"]:focus,
.contentContainer > form > input[type="email"]:focus {
  outline-color: var(--golden_fonts);
  color: var(--dark_blue);
}

.contentContainer > form > input[type="text"]::placeholder,
.contentContainer > form > input[type="password"]::placeholder,
.contentContainer > form > input[type="email"]::placeholder {
  color: var(--dark_blue);
  opacity: 50%;
}

.contentContainer > form > input[type="submit"] {
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  border: none;
  color: white;
  background-color: var(--dark_blue);
  margin-top: 10px;
  align-self: center;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.contentContainer > form > input[type="submit"]:hover {
  background-color: var(--light_blue_color);
}

.errorMessage {
  display: block;
  height: 20px;
  color: red;
}

.contentContainer > p {
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.alertMessage {
  color: #a9a900;
  background-color: #f9f9ab;
}

/* .sucessMessage {
  color: green;
  background-color: lightgreen;
} */

@media screen and (max-width: 810px) {
  .mainContainer {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 10% 90%;
  }

  .containerLogo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .logoContainer {
    display: none;
  }

  .contentContainer > form {
    margin: 0px auto;
    padding: 0;
    border: none;
  }

  .mainContainer {
    --label_top_username: 19.5%;
    --label_top_username_focused: 16%;

    --label_top_email: 35.5%;
    --label_top_email_focused: 31.5%;

    --label_top_passwordConfirm: 66.5%;
    --label_top_passwordConfirm_focused: 63.5%;
  }
}

@media screen and (max-width: 430px) {
  .mainContainer {
    --label_top_username: 22%;
    --label_top_username_focused: 18%;

    --label_top_email: 37.5%;
    --label_top_email_focused: 34%;

    --label_top_password: 53%;
    --label_top_password_focused: 49.5%;

    --label_top_passwordConfirm: 68.5%;
    --label_top_passwordConfirm_focused: 65%;

    --label_left: 5%;
    --label_left_focused: 3%;
  }

  .contentContainer > form {
    width: 100%;
    box-shadow: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .contentContainer > form > input[type="text"],
  .contentContainer > form > input[type="password"],
  .contentContainer > form > input[type="email"] {
    width: 100%;
  }
}
