.containerMain {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 10px;
  padding: 10px 0px;
  width: 100%;
  max-width: 1800px;
  justify-content: center;
}

@media screen and (max-width: 1330px) {
  .containerMain {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 800px) {
  .containerMain {
    grid-template-columns: 100%;
  }
}
