.containerMain {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerMain > a {
  text-decoration: underline;
}

.detailsTitleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
}

.detailsTitleContainer > h1 {
  font-size: 45px;
  text-decoration: underline;
}

.detailsTitleContainer > h2 {
  font-size: 25px;
  font-weight: normal;
}

.imageContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.mainImageContainer > img {
  width: 500px;
  height: 300px;
}

.centerDetailsContainer {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
}

.descriptionContainer {
  width: 60%;
  box-shadow: 4px 3px 3px #cfcfcf;
  padding: 5px;
  border-radius: 10px;
}

.descriptionContainer > p {
  font-size: 20px;
  text-align: center;
  color: var(--dark_blue);
  line-height: 30px;
}

.containerDetailsButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsButtons {
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 50%;
  max-width: 150px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.joinButton {
  color: var(--golden_fonts);
  background-color: var(--dark_blue);
}

.cancelButton {
  background-color: #a30101;
  color: white;
}

.joinButton:hover {
  background-color: #254f87;
}

.cancelButton:hover {
  background-color: #ff3535;
}

.closedEventMessage {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 1260px) {
  .containerMain,
  .detailsTitleContainer {
    align-items: center;
  }

  .containerMain > a {
    text-decoration: underline;
    align-self: flex-start;
  }

  .centerDetailsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  .descriptionContainer {
    width: 80%;
  }

  .containerDetailsButtons {
    justify-content: center;
    width: 100%;
  }

  .containerButtonsCard {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }

  .closedEventMessage {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .mainImageContainer > img {
    width: 300px;
    height: 200px;
  }
}
