.containerUserCreatedSchedules {
  width: 100%;
  position: relative;
  top: 0;
  background-color: white;
}

.containerCreatedEvents {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0px;
  width: 100%;
}

.containerCreatedEvents > a {
  text-decoration: underline;
}

.createdEvents {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  box-sizing: border-box;
  align-self: center;
}
