.containerSecurity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.containerChangePass {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  width: 100%;
  padding: 10px 0px;
}

.containerDeleteAccount {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  width: 100%;
  padding: 10px 0px;
}

.containerDeleteAccount > h2 {
  color: red;
}

.containerDeleteAccount > p {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.buttonsSecurity {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.buttonsSecurity:hover {
  background-color: var(--light_blue_color);
}

.buttonsDeleteAcc {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 25, 25);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.buttonsDeleteAcc:hover {
  background-color: rgb(255, 54, 54);
}
