.containerSecurity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.containerChangePass {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  width: 100%;
  padding: 10px 0px;
}

.containerChangePasswordForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.formChangePassword {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.formChangePassword > section > input[type="password"],
.deleteAccContainer > input[type="password"] {
  width: 100%;
  max-width: 350px;
  height: 30px;
  border-radius: 10px;
  border: solid 2px var(--golden_fonts);
  padding: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.formChangePassword > section > input[type="password"]:focus,
.deleteAccContainer > input[type="password"]:focus {
  outline-color: var(--golden_fonts);
}

.formChangePassword > input[type="button"],
.containerChangePasswordForm > input[type="button"] {
  width: 100%;
  max-width: 200px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  border-radius: 10px;
  height: 30px;
  border: solid 1px var(--golden_fonts);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.formChangePassword > input[type="button"]:hover,
.containerChangePasswordForm > input[type="button"]:hover {
  background-color: var(--light_blue_color);
}

.containerDeleteAccount {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  width: 100%;
  padding: 10px 0px;
}

.containerDeleteAccount > h2 {
  color: red;
}

.containerDeleteAccount > p {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.buttonsSecurity {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.buttonsSecurity:hover {
  background-color: var(--light_blue_color);
}

.buttonsDeleteAcc {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 25, 25);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.buttonsDeleteAcc:hover {
  background-color: rgb(255, 54, 54);
}

.deleteAccContainer {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 150px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.deleteAccContainer > h2 {
  color: red;
}

.containerDeleteButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
}

.containerDeleteButtons > button {
  width: 100%;
  max-width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  font-weight: bold;
}

.cancelDeleteAccButton:hover {
  background-color: lightgray;
}

.confirmDeleteAccButton:hover {
  background-color: red;
  color: white;
}

.message {
  border: none;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  font-weight: bold;
}

.errorMessage {
  color: white;
  background-color: rgb(207, 17, 17);
}

.successMessage {
  background-color: lightgreen;
  color: rgb(9, 105, 9);
}
