.containerPersonalInfos {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.emailLine {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
}

.emailLine > p {
  font-size: 20px;
}

.commomButton {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.commomButton > span {
  align-self: center;
  width: 100%;
}

.buttonsPrivacy {
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
}

.buttonsPrivacy:hover {
  background-color: var(--light_blue_color);
}

.buttonsCancel {
  background-color: red;
  color: white;
}

.buttonsCancel:hover {
  background-color: #fb5a5a;
}

.buttonsConfirm {
  background-color: #0ba10b;
  color: white;
}

.buttonsConfirm:hover {
  background-color: #58c158;
}

.containerUsername {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
}

.containerUsername > input[type="text"] {
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
  border: solid 2px var(--golden_fonts);
  color: var(--dark_blue);
}

.containerUsername > input[type="text"]::placeholder {
  color: var(--golden_fonts);
  opacity: 50%;
}

.containerUsername > input[type="text"]:focus {
  outline: var(--golden_fonts);
  color: var(--dark_blue);
}

.containerUserImage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerUserImage > img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--dark_blue);
}

.message {
  border: none;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  font-weight: bold;
}

.errorMessage {
  color: white;
  background-color: rgb(207, 17, 17);
}

.successMessage {
  background-color: lightgreen;
  color: rgb(9, 105, 9);
}

.containerChangeImage > input[type="file"] {
  display: none;
  position: relative;
}

.containerChangeImage > label {
  position: absolute;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  border-radius: 10px;
  height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.containerChangeImage > label:hover {
  background-color: var(--light_blue_color);
}
