.containerPersonalInfos {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.emailLine {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
}

.emailLine > p {
  font-size: 20px;
}

.buttonsPrivacy {
  height: 30px;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.buttonsPrivacy:hover {
  background-color: var(--light_blue_color);
}

.containerUsername {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: solid 1px #e9e9e9;
  padding-bottom: 10px;
}

.containerUserImage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerUserImage > img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--dark_blue);
}
