.containerProfileHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.containerTopHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 10px 0px;
  width: 95%;
  border-bottom: solid 1px #e9e9e9;
}

.containerTopHome > img {
  border-radius: 50%;
  height: 115px;
  width: 120px;
}

.containerProfileHome > p {
  width: 60%;
  min-width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
