.multipleDaysContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 620px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px var(--dark_blue);
  border-radius: 10px;
}

.multipleDaysContainer > h2 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.containerSchedulingInteval {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.containerSchedulingInteval > input[type="time"] {
  height: 30px;
  width: 100%;
  max-width: 100px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px var(--golden_fonts);
  text-align: center;
  color: var(--dark_blue);
  font-weight: bold;
}

.containerSchedulingInteval > p {
  font-weight: bold;
}

.containerSchedulingInteval > input[type="time"]:focus {
  outline-color: var(--dark_blue);
}

.containerSchedulingInteval > input[type="button"],
.containerSchedulingIntevalChoosed > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  height: 30px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerSchedulingInteval > input[type="button"]:hover,
.containerSchedulingIntevalChoosed > input[type="button"]:hover {
  background-color: #254f87;
}

.containerSchedulingIntevalChoosed {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: bold;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: solid 1px #e9e9e9;
}

.containerSchedulingIntevalChoosed > div {
  height: 20px;
  border: solid 1px var(--golden_fonts);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.containerButtonsInterval {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 75px 75px;
  height: 150px;
  gap: 10px;
}

.containerButtonsInterval > input[type="button"] {
  width: 100%;
  max-width: 120px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px var(--golden_fonts);
  text-align: center;
  /* color: var(--dark_blue); */
  font-weight: bold;
  cursor: pointer;
  /* background-color: white; */
}
