.containerShowDays {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--dark_blue);
  border-top: solid 1px var(--dark_blue);
  width: 100%;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.containerShowDays > p {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  column-gap: 5px;
  padding: 2px;
  width: 40px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 1px 3px var(--dark_blue);
  border-radius: 5px;
}

.containerDays {
  display: grid;
  grid-template-columns: repeat(10, 0fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 600px;
}

.checkBoxContainer > input[type="checkbox"] {
  display: none;
  cursor: pointer;
  position: relative;
}

.checkBoxContainer > label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.checkBoxContainer > input[type="checkbox"]:checked + label {
  background-color: var(--light_blue_color);
}

.containerShowDays > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerShowDays > input[type="button"]:hover {
  background-color: #254f87;
}

@media screen and (max-width: 640px) {
  .containerDays {
    grid-template-columns: repeat(5, 0fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
  }

  .containerShowDays {
    max-width: 100%;
    align-items: center;
  }
}
