.containerOverviewPage {
  position: absolute;
  top: 110px;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.664);
  width: 100%;
  min-height: 800px;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}

.containerOverviewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}

.containerOverviewList {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  border: solid 2px var(--golden_fonts);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.containerConfirmAndCancel{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.containerConfirmAndCancel > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerConfirmAndCancel > input[type="button"]:hover {
  background-color: #254f87;
}

.containerChangeDayButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: solid 2px var(--golden_fonts);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.containerChangeDayButtons > h2 {
  text-align: center;
  width: 170px;
}

.containerChangeDayButtons > h2 > span {
  color: var(--dark_blue);
  text-decoration: underline;
}

.containerChangeDayButtons > button {
  padding: 50px 0px;
  width: 30px;
  height: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 2px #dbdbdb;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerChangeDayButtons > button > svg {
  font-size: 30px;
  color: var(--dark_blue);
}

.overviewMultipleSchedulesList {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  overflow-y: scroll;
}

.overviewMultipleSchedulesList > li {
  width: 100%;
  border: solid 1px var(--dark_blue);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overviewMultipleSchedulesList > li > p {
  width: 55px;
  height: 100%;
  border-right: solid 1px var(--dark_blue);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark_blue);
}

.overviewMultipleSchedulesList > li > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overviewMultipleSchedulesList > li > button > svg {
  color: red;
  font-size: 20px;
  width: 100%;
  height: 100%;
  transition: color 0.5s ease;
}

.overviewMultipleSchedulesList > li > button > svg:hover {
  color: darkred;
}
