.openScheduleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
}

.openScheduleContainer > input[type="button"] {
  width: 100%;
  max-width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.openScheduleContainer > input[type="button"]:hover {
  background-color: var(--light_blue_color);
}
