.containerMultipleSchedule {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 785px;
  background-color: rgba(255, 255, 255, 0.589);
}

.containerList {
  width: 100%;
  max-width: 825px;
  min-width: 325px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
}

.topContainerList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topContainerList > p {
  margin-left: auto;
  margin-right: 30px;
}

.containerDate {
  width: 100%;
  height: 120px;
  background-color: #dfdfdf;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDate > ul {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  list-style: none;
  column-gap: 10px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.containerDate > ul > li {
  background-color: white;
  height: 90px;
  width: 90px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.containerDate > ul > li > div {
  border-radius: 10px 10px 0px 0px;
  height: 20px;
  background-color: var(--dark_blue);
  width: 100%;
}

.containerDate > ul > li > p {
  font-weight: bold;
  font-size: 30px;
  margin-top: 13px;
}

.containerList > ul {
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 10px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 95%;
  box-sizing: border-box;
  padding: 0px 5px;
}

.containerList > ul > li {
  width: 100%;
  min-width: 320px;
  height: 70px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid var(--dark_blue);
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-height: 890px) {
  .containerMultipleSchedule {
    height: calc(100vh - 125px);
  }
}

@media screen and (max-width: 425px) {
  .containerMultipleSchedule {
    height: calc(100% - 5px);
  }
}
