.containerSchedulingInterval {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: solid 1px var(--dark_blue);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  height: fit-content;
}

.containerSchedulingInterval > h2 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.schedulingIntervalButtons {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-weight: bold;
}

.schedulingIntervalButtons > input[type="button"] {
  width: 100%;
  max-width: 120px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px var(--golden_fonts);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.containerShowSchedulingInterval > input[type="button"],
.schedulingIntervalAmount > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  height: 30px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.containerShowSchedulingInterval > input[type="button"]:hover,
.schedulingIntervalAmount > input[type="button"]:hover {
  background-color: #254f87;
}

.schedulingIntervalAmount {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px 0px;
  border-bottom: solid 1px gray;
}

.schedulingIntervalAmount > p {
  font-weight: bold;
}

.schedulingIntervalAmount > input[type="number"] {
  height: 30px;
  width: 100%;
  max-width: 70px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px var(--golden_fonts);
  text-align: center;
  color: var(--dark_blue);
  font-weight: bold;
}

.containerShowSchedulingInterval {
  font-weight: bold;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.choosedSchedulingInterval {
  display: block;
  border: solid 2px var(--dark_blue);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}
