.detailsAndJoinButton,
.cancelButton {
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 50%;
  max-width: 150px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.detailsAndJoinButton {
  color: var(--golden_fonts);
  background-color: var(--dark_blue);
}

.cancelButton {
  background-color: #a30101;
  color: white;
}

.detailsAndJoinButton:hover {
  background-color: #254f87;
}

.cancelButton:hover {
  background-color: #ff3535;
}

.commomButton {
  padding: 7px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  width: 200px;
  height: 35px;
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

.commomButton:hover {
  background-color: #254f87;
}

.commomButton > svg {
  font-size: 26px;
}

.logoutButton > svg {
  font-size: 30px;
}

.schedulesButton > p {
  width: 100%;
}