.detailsAndJoinButton,
.cancelButton {
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 50%;
  max-width: 150px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.detailsAndJoinButton {
  color: var(--golden_fonts);
  background-color: var(--dark_blue);
}

.cancelButton {
  background-color: #a30101;
  color: white;
}

.detailsAndJoinButton:hover {
  background-color: #254f87;
}

.cancelButton:hover {
  background-color: #ff3535;
}