.containerCardSchedule {
  border: solid 1px var(--dark_blue);
  padding: 10px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px darkblue;
  margin: 0 auto;
}

.elementsCardSchedule {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.infoCardSchedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerText {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  max-width: 230px;
}

.containerStatusAndAmount {
  width: 35%;
  max-width: 120px;
}

.containerStatus,
.containerAmount {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.containerAmount > p {
  color: var(--golden_fonts);
}

.AmountCircle {
  color: var(--golden_fonts);
  background-color: var(--golden_fonts);
}

.StatusAndAmountCircle {
  width: 13px;
  height: 13px;
  border: solid 1px;
  border-radius: 50%;
}

.containerButtonsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsAndJoinButton,
.cancelButton {
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 50%;
  max-width: 150px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.detailsAndJoinButton {
  color: var(--golden_fonts);
  background-color: var(--dark_blue);
}

.cancelButton {
  background-color: #a30101;
  color: white;
}

.detailsAndJoinButton:hover {
  background-color: #254f87;
}

.cancelButton:hover {
  background-color: #ff3535;
}

@media screen and (max-width: 400px) {
  .containerCardSchedule {
    width: 300px;
    height: 300px;
  }

  .StatusAndAmountCircle{
    width: 10px;
    height: 7px;
  }
}
