.containerCardSchedule {
  border: solid 1px var(--dark_blue);
  padding: 10px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px darkblue;
  margin: 0 auto;
}

.infoCardSchedule {
  display: grid;
  grid-template-columns: 225px 125px;
  grid-template-rows: 40px 55px;
  grid-template-areas:
    "containerText containerStatus"
    "containerText containerAmount";
  align-items: center;
}

.containerText {
  grid-area: containerText;
}

.containerStatus {
  grid-area: containerStatus;
}

.containerAmount {
  grid-area: containerAmount;
}

.containerText {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  max-width: 230px;
}

.containerStatus,
.containerAmount {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.containerAmount > p {
  color: var(--golden_fonts);
}

.AmountCircle {
  color: var(--golden_fonts);
  background-color: var(--golden_fonts);
}

.StatusAndAmountCircle {
  min-width: 13px;
  height: 13px;
  border: solid 1px;
  border-radius: 50%;
}

.containerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerImage > img {
  width: 100%;
  aspect-ratio: 11 / 5;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  .containerCardSchedule {
    width: 300px;
    height: 300px;
  }

  .infoCardSchedule {
    grid-template-columns: 210px 95px;
  }
}
