.footer {
  background-color: var(--dark_blue);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > p {
  color: var(--golden_fonts);
  font-weight: bold;
  font-size: 20px;
}
