.header {
  background-color: var(--dark_blue);
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginContainer {
  position: absolute;
  margin-right: 10px;
  right: 0;
}

a {
  text-decoration: none;
  color: var(--dark_blue);
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 120px;
  transition: background-color 0.5s;
  font-weight: bold;
}

.loginButton > p {
  color: var(--dark_blue) !important;
}

.loginButton:hover {
  background-color: #d5d5d5;
}

.perfilOptionsContainer {
  width: 100%;
  max-width: 225px;
  position: absolute;
  top: 18px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  border: solid 1px var(--dark_blue);
  border-radius: 10px;
  background-color: white;
}

.perfilOptionsContainer > p {
  border: solid 1px var(--dark_blue);
  border-left-width: 0px;
  border-right-width: 0px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0px;
}

.containerImage {
  margin-right: 20px;
  margin-left: 145px;
  margin-top: 15px;
}

.containerImage > img {
  width: 60px;
  border-radius: 50%;
  border: none;
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
