.containerMessage {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
}

.errorMessage {
  background-color: #f7a6a6;
  color: red;
}

.alertMessage {
  background-color: #ffff9c;
  color: var(--golden_fonts);
  border: none;
}

.successMessage {
  background-color: #a7f9a7;
  color: green;
}

.defaultMessage {
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
}
