.containerMessage {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-radius: 10px;
  padding: 5px 0px;
  font-weight: bold;
}

.errorMessage {
  background-color: #f7a6a6;
  color: red;
  border-color: #ff3838;
}

.alertMessage {
  background-color: #ffff9c;
  color: var(--golden_fonts);
  border-color: #b1b100;
}

.successMessage {
  background-color: #a7f9a7;
  color: green;
  border-color: green;
}

.defaultMessage {
  background-color: var(--dark_blue);
  color: var(--golden_fonts);
  border-color: transparent;
}
