.createdSchedulesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px var(--golden_fonts);
  box-shadow: 0px 0px 5px lightgray;
}

.createdSchedulesItem > p {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 400px;
  height: 70px;
  display: flex;
  align-items: center;
  border-right: solid 2px var(--golden_fonts);
  margin-left: 10px;
}

.containerImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  column-gap: 10px;
  box-sizing: border-box;
  margin-left: 30px;
  position: relative;
}

.image {
  opacity: 50%;
  height: 100%;
  width: 100%;
  border-radius: 0px 8px 8px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerButtons {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 10px;
  width: 100%;
  height: 85px;
  padding: 10px;
  box-sizing: border-box;
}

.containerButtons > input[type="button"] {
  padding: 7px;
  border-radius: 10px;
  border: none;
  width: 50%;
  min-width: 120px;
  max-width: 150px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  color: var(--golden_fonts);
  background-color: var(--dark_blue);
}

.containerButtons > input[type="button"]:hover {
  background-color: var(--light_blue_color);
}

@media screen and (max-width: 605px) {
  .containerButtons {
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
